<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyexcel.mapper.ActResultLogMapper">
    <resultMap id="BaseResultMap" type="com.easyexcel.pojo.ActResultLogDO">
        <!--@mbg.generated-->
        <!--@Table act_result_log-->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="onlineseqid" jdbcType="VARCHAR" property="onlineseqid" />
        <result column="businessid" jdbcType="VARCHAR" property="businessid" />
        <result column="becifno" jdbcType="VARCHAR" property="becifno" />
        <result column="ivisresult" jdbcType="VARCHAR" property="ivisresult" />
        <result column="createdby" jdbcType="VARCHAR" property="createdby" />
        <result column="createddate" jdbcType="DATE" property="createddate" />
        <result column="updateby" jdbcType="VARCHAR" property="updateby" />
        <result column="updateddate" jdbcType="DATE" property="updateddate" />
        <result column="risklevel" jdbcType="VARCHAR" property="risklevel" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, onlineseqid, businessid, becifno, ivisresult, createdby, createddate, updateby,
        updateddate, risklevel, is_deleted
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update act_result_log
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="onlineseqid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.onlineseqid,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="businessid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.businessid,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="becifno = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.becifno,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="ivisresult = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.ivisresult,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="createdby = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createdby,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="createddate = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createddate,jdbcType=DATE}
                </foreach>
            </trim>
            <trim prefix="updateby = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateby,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="updateddate = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateddate,jdbcType=DATE}
                </foreach>
            </trim>
            <trim prefix="risklevel = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.risklevel,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="is_deleted = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.isDeleted,jdbcType=TINYINT}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into act_result_log
        (onlineseqid, businessid, becifno, ivisresult, createdby, createddate, updateby,
        updateddate, risklevel, is_deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.onlineseqid,jdbcType=VARCHAR}, #{item.businessid,jdbcType=VARCHAR}, #{item.becifno,jdbcType=VARCHAR},
            #{item.ivisresult,jdbcType=VARCHAR}, #{item.createdby,jdbcType=VARCHAR}, #{item.createddate,jdbcType=DATE},
            #{item.updateby,jdbcType=VARCHAR}, #{item.updateddate,jdbcType=DATE}, #{item.risklevel,jdbcType=VARCHAR},
            #{item.isDeleted,jdbcType=TINYINT})
        </foreach>
    </insert>

    <insert id="importToDb" parameterType="com.easyexcel.pojo.ActResultLogDO">
        insert into ACT_RESULT_LOG (onlineseqid, businessid, becifno, ivisresult, createdby, createddate, updateby,
        updateddate, risklevel)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.onlineseqid}, #{item.businessid}, #{item.becifno}, #{item.ivisresult}, #{item.createdby},
            #{item.createddate},
            #{item.updateby}, #{item.updateddate}, #{item.risklevel})
        </foreach>
    </insert>
</mapper>